aufgabe2_fahrstuhl/flows_Node_Red.json
[{"id":"d5181ab98cc39fb9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"383b14bf85ccd8d9","type":"mqtt in","z":"d5181ab98cc39fb9","name":"Elevator Events","topic":"elevator/elevator_event","qos":"0","datatype":"json","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":360,"wires":[["f5e4fdd2c3df274e"]]},{"id":"a9a9221b28f64cde","type":"mqtt in","z":"d5181ab98cc39fb9","name":"Person Events","topic":"elevator/person_events","qos":"0","datatype":"json","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":420,"wires":[["66935ffe4a778439","494ea4ab0c8873c8"]]},{"id":"cba948b7239d1783","type":"mqtt in","z":"d5181ab98cc39fb9","name":"Elevator State","topic":"elevator/state","qos":"0","datatype":"json","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":480,"wires":[["612576214280416d"]]},{"id":"f5e4fdd2c3df274e","type":"function","z":"d5181ab98cc39fb9","name":"Process Elevator Event","func":"// Store event\ncontext.set('lastElevatorEvent', msg.payload);\nreturn msg;","outputs":1,"x":350,"y":360,"wires":[["bab7d24ff25b7fed"]]},{"id":"66935ffe4a778439","type":"function","z":"d5181ab98cc39fb9","name":"Process Person Event","func":"// Store event\ncontext.set('lastPersonEvent', msg.payload);\nreturn msg;","outputs":1,"x":330,"y":420,"wires":[["bab7d24ff25b7fed"]]},{"id":"612576214280416d","type":"function","z":"d5181ab98cc39fb9","name":"Update State","func":"// Get or initialize state\nlet state = flow.get('elevatorState') || {\n    Ionisch: { floor: 'Ground', door: 'Closed', passengers: [], missions: 0 },\n    Dorisch: { floor: 'Ground', door: 'Closed', passengers: [], missions: 0 }\n};\n\n// Update state from payload\nif (msg.payload.elevator) {\n    state[msg.payload.elevator] = {\n        floor: msg.payload.floor,\n        door: msg.payload.door,\n        passengers: msg.payload.passengers || [],\n        missions: msg.payload.missions || 0\n    };\n}\n\n// Save state\nflow.set('elevatorState', state);\nmsg.payload = state;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":480,"wires":[["bab7d24ff25b7fed"]]},{"id":"bab7d24ff25b7fed","type":"function","z":"d5181ab98cc39fb9","name":"Prepare Visualization","func":"// Get current state\nlet state = flow.get('elevatorState') || {\n    Ionisch: { floor: 'Ground', door: 'Closed', passengers: [], missions: 0 },\n    Dorisch: { floor: 'Ground', door: 'Closed', passengers: [], missions: 0 }\n};\n\nmsg.payload = state;\nreturn msg;","outputs":1,"x":600,"y":420,"wires":[["18ee61174ec3b190"]]},{"id":"44ae7663ba8e7052","type":"mqtt out","z":"d5181ab98cc39fb9","name":"Create Person","topic":"elevator/new_person","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":320,"y":580,"wires":[]},{"id":"56b116b9c150d49e","type":"ui_button","z":"d5181ab98cc39fb9","name":"Create Person","group":"control_group","order":1,"width":"4","height":"1","passthru":false,"label":"➕ Create New Person","tooltip":"","color":"","bgcolor":"#4CAF50","icon":"fa-user-plus","payload":"create","payloadType":"str","topic":"","x":100,"y":580,"wires":[["44ae7663ba8e7052"]]},{"id":"18ee61174ec3b190","type":"ui_template","z":"d5181ab98cc39fb9","group":"dashboard_group","name":"Elevator Visualization","order":1,"width":"12","height":"12","format":"<div id=\"elevator-container\">\n    <style>\n        #elevator-container {\n            display: flex;\n            justify-content: space-around;\n            padding: 20px;\n            background: #1a1a1a;\n            font-family: Arial, sans-serif;\n        }\n        .elevator-shaft {\n            width: 200px;\n            background: #2a2a2a;\n            border: 3px solid #444;\n            border-radius: 10px;\n            position: relative;\n            height: 500px;\n            padding: 10px;\n        }\n        .elevator-name {\n            text-align: center;\n            color: #fff;\n            font-size: 20px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        .floors {\n            position: relative;\n            height: 400px;\n            border: 2px solid #555;\n            border-radius: 5px;\n            background: #1a1a1a;\n        }\n        .floor-marker {\n            position: absolute;\n            width: 100%;\n            height: 2px;\n            background: #666;\n            display: flex;\n            align-items: center;\n        }\n        .floor-label {\n            color: #888;\n            font-size: 12px;\n            padding-left: 5px;\n        }\n        .elevator-car {\n            position: absolute;\n            width: 90%;\n            height: 80px;\n            background: linear-gradient(135deg, #4a90e2, #357abd);\n            border: 3px solid #2a5a8a;\n            border-radius: 8px;\n            left: 5%;\n            transition: bottom 1s ease-in-out;\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            box-shadow: 0 4px 8px rgba(0,0,0,0.3);\n        }\n        .elevator-car.door-open {\n            border-color: #4CAF50;\n            box-shadow: 0 0 20px rgba(76, 175, 80, 0.5);\n        }\n        .elevator-car.door-closed {\n            border-color: #f44336;\n        }\n        .door-status {\n            color: #fff;\n            font-size: 14px;\n            font-weight: bold;\n        }\n        .passengers {\n            color: #fff;\n            font-size: 12px;\n            margin-top: 5px;\n        }\n        .passenger-icon {\n            display: inline-block;\n            margin: 2px;\n        }\n        .info-panel {\n            background: #2a2a2a;\n            padding: 10px;\n            border-radius: 5px;\n            margin-top: 10px;\n            color: #fff;\n            font-size: 12px;\n        }\n        .missions {\n            color: #ffa500;\n            font-weight: bold;\n        }\n    </style>\n    \n    <div class=\"elevator-shaft\">\n        <div class=\"elevator-name\">Ionisch</div>\n        <div class=\"floors\" id=\"ionisch-shaft\">\n            <div class=\"floor-marker\" style=\"bottom: 0%;\"><span class=\"floor-label\">Ground</span></div>\n            <div class=\"floor-marker\" style=\"bottom: 25%;\"><span class=\"floor-label\">First</span></div>\n            <div class=\"floor-marker\" style=\"bottom: 50%;\"><span class=\"floor-label\">Second</span></div>\n            <div class=\"floor-marker\" style=\"bottom: 75%;\"><span class=\"floor-label\">Third</span></div>\n            \n            <div class=\"elevator-car\" id=\"ionisch-car\">\n                <div class=\"door-status\" id=\"ionisch-door\">🚪 CLOSED</div>\n                <div class=\"passengers\" id=\"ionisch-passengers\">👤 0</div>\n            </div>\n        </div>\n        <div class=\"info-panel\">\n            <div>Floor: <span id=\"ionisch-floor\">Ground</span></div>\n            <div class=\"missions\">Missions: <span id=\"ionisch-missions\">0</span></div>\n        </div>\n    </div>\n    \n    <div class=\"elevator-shaft\">\n        <div class=\"elevator-name\">Dorisch</div>\n        <div class=\"floors\" id=\"dorisch-shaft\">\n            <div class=\"floor-marker\" style=\"bottom: 0%;\"><span class=\"floor-label\">Ground</span></div>\n            <div class=\"floor-marker\" style=\"bottom: 25%;\"><span class=\"floor-label\">First</span></div>\n            <div class=\"floor-marker\" style=\"bottom: 50%;\"><span class=\"floor-label\">Second</span></div>\n            <div class=\"floor-marker\" style=\"bottom: 75%;\"><span class=\"floor-label\">Third</span></div>\n            \n            <div class=\"elevator-car\" id=\"dorisch-car\">\n                <div class=\"door-status\" id=\"dorisch-door\">🚪 CLOSED</div>\n                <div class=\"passengers\" id=\"dorisch-passengers\">👤 0</div>\n            </div>\n        </div>\n        <div class=\"info-panel\">\n            <div>Floor: <span id=\"dorisch-floor\">Ground</span></div>\n            <div class=\"missions\">Missions: <span id=\"dorisch-missions\">0</span></div>\n        </div>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    const floorPositions = {\n        'Ground': 0,\n        'First': 25,\n        'Second': 50,\n        'Third': 75\n    };\n    \n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload) {\n            updateElevator('Ionisch', msg.payload.Ionisch);\n            updateElevator('Dorisch', msg.payload.Dorisch);\n        }\n    });\n    \n    function updateElevator(name, data) {\n        if (!data) return;\n        \n        const lowerName = name.toLowerCase();\n        const car = document.getElementById(lowerName + '-car');\n        const door = document.getElementById(lowerName + '-door');\n        const passengers = document.getElementById(lowerName + '-passengers');\n        const floorLabel = document.getElementById(lowerName + '-floor');\n        const missionsLabel = document.getElementById(lowerName + '-missions');\n        \n        // Update position\n        const position = floorPositions[data.floor] || 0;\n        car.style.bottom = position + '%';\n        \n        // Update door status\n        if (data.door === 'Open') {\n            car.classList.add('door-open');\n            car.classList.remove('door-closed');\n            door.textContent = '🚪 OPEN';\n            door.style.color = '#4CAF50';\n        } else {\n            car.classList.add('door-closed');\n            car.classList.remove('door-open');\n            door.textContent = '🚪 CLOSED';\n            door.style.color = '#f44336';\n        }\n        \n        // Update passengers\n        const passengerCount = data.passengers ? data.passengers.length : 0;\n        let passengerIcons = '';\n        for (let i = 0; i < passengerCount; i++) {\n            passengerIcons += '👤';\n        }\n        passengers.innerHTML = passengerIcons + ' ' + passengerCount;\n        \n        // Update info\n        floorLabel.textContent = data.floor;\n        missionsLabel.textContent = data.missions || 0;\n    }\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":840,"y":420,"wires":[[]]},{"id":"494ea4ab0c8873c8","type":"ui_chart","z":"d5181ab98cc39fb9","name":"","group":"5c0855d557aecefe","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":290,"y":300,"wires":[[]]},{"id":"f2b06d612184d2a2","type":"mqtt in","z":"d5181ab98cc39fb9","name":"","topic":"#","qos":"0","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":70,"y":680,"wires":[["772b7bfeced084f7"]]},{"id":"772b7bfeced084f7","type":"debug","z":"d5181ab98cc39fb9","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":680,"wires":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"Elevator MQTT","broker":"elevator-mqtt-broker","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"control_group","type":"ui_group","name":"Controls","tab":"dashboard_tab","order":2,"disp":true,"width":"12","collapse":false},{"id":"dashboard_group","type":"ui_group","name":"Elevator Visualization","tab":"dashboard_tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"5c0855d557aecefe","type":"ui_group","name":"Elevator Visualization","tab":"dashboard_tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"dashboard_tab","type":"ui_tab","name":"Elevator System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a2761477e4a9739a","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]